body{
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}
#main
{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background: rgb(44, 43, 43);
    box-shadow: rgba(53, 49, 49, 0.61);
    box-shadow: 10px 10px 20px rgba(54, 42, 53, 0.836);
    margin-top: 5%;
}

#header{
    color: #F0a89f;
    padding: 10px;
    top: 10%;
    letter-spacing: 3px;
    
}
#signin{
    padding: 25px;
    float: right;
    margin: 0;
}

#info
{
    text-align: center;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}


div{
    text-align: center;
    color: white;
    font-size: 15px;
   
}

#brand-button{
    background-color: #F0a89f;
    border: none;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    transition: background-color 0.3s ease-in;
}

#brand-button:hover{
    background-color: rgb(247, 198, 193);
    transition: background-color 0.3s ease-in;
}


#signin{
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: 	#F0a89f; 
    background: none;
    padding: 15px;
}

#signin-button
{
    padding: 15px;
    float: right;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align:center;
}
