body{
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

h1{
    size: 24em;
    color: #F0a89f;
}

p{
    text-align: center;
    width: 70%;
    margin: 10% auto auto auto;
    font-size: 20px;
}

div{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

#brand{
    background-color: #F0a89f;
    border: none;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

#signin{
    border: none;
    cursor: pointer;
    clear: all;
    right:0;
    font-size: 20px;
    float: right;
    font-style: bold;
    color: 	#F0a89f; 
    background-color: #f9fafc;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align:center;
}
