html, body{
    height: 100%;
   border: 20px white;
}

body{
    margin: 0;
    padding: 20px;
    letter-spacing: 1.3px;
    background: rgb(252, 252, 252);
    position: relative;
   
}
#header
{
   
}

#main
{
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
}
#container
{
    border-radius: 5%;
    background: rgb(59, 56, 56);
    font-family: 'Open Sans', sans-serif;
    color: white
}

#options{
    display: flex;
    flex-flow: column;
   font-size: 18px;
}

.question-space
{
    padding: 25px;
    width: 500px;
    position: relative;
    top: 50%;
    bottom: 50%;
    font-size: 20px;
}

#continue-button, #return-button
{
    position: absolute;
    top: 50%;
    cursor: pointer;
    border: none;
    padding: 0px;
    color: rgb(38, 37, 39);
    background: none;
    font-size: 30px;
    -webkit-transition:color 0.3s ease-in;
    -moz-transition:color 0.3s ease-in;
    transition:color 0.3s ease-in;
}
#continue-button
{
    float: right;
    left: 72%;
}
#return-button{
    float: left;
    left:20%;
}
#continue-button:hover{

    color: rgb(110, 105, 116);
    -webkit-transition:color 0.3s ease-in;
    -moz-transition:color 0.3s ease-in;
    transition:color 0.3s ease-in;
}
#return-button:hover{
    
        color: rgb(110, 105, 116);
        -webkit-transition:color 0.3s ease-in;
        -moz-transition:color 0.3s ease-in;
        transition:color 0.3s ease-in;
    }